<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.dose_calculator.x_ray_total_dose.di.AppDi"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.XrayTotalDose"
        tools:targetApi="31">
        <activity
            android:name="com.dose_calculator.x_ray_total_dose.presentation.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".presentation.Information"
            android:screenOrientation="portrait"
            android:parentActivityName=".presentation.MainActivity"
            android:label="@string/information_header">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.MainActivity" />
        </activity>

        <activity
            android:name=".theme.ThemeChange"
            android:screenOrientation="portrait"
            android:parentActivityName=".presentation.MainActivity"
            android:label="@string/theme_change">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.MainActivity" />
        </activity>

    </application>

</manifest>